
lographsPrototype.xcodeproj/xcuserdata/PoohKid.xcuserdatad/xcschemes/xcschememanagement.plist

lographsPrototype.xcodeproj/xcuserdata/PoohKid.xcuserdatad/xcschemes/lographsPrototype.xcscheme

lographsPrototype.xcodeproj/project.xcworkspace/xcuserdata/PoohKid.xcuserdatad/WorkspaceSettings.xcsettings

lographsPrototype.xcodeproj/project.xcworkspace/xcuserdata/PoohKid.xcuserdatad/UserInterfaceState.xcuserstate

lographsPrototype.xcodeproj/project.xcworkspace/contents.xcworkspacedata
